/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #536160;
  color:#eee;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  padding-bottom: 1em; 
  float:left;
  font-variant:small-caps;
  font-size:180%;
}

h2.title {
  /*font-size:12pt;*/
  font-weight:bold;
}

p { padding: .5em 0; margin: 1px 0; }

a         { color: #fff; padding:0px 1px;}
a:hover   { color: #fff; }
a:v#containerd { color: #000; }

.post, .posts li {
  color: #fff;
  /*background:#405251;*/
  /*box-shadow:0px 1px 2px 1px #616b3c;*/
}

.hyper {
  text-decoration:none;
  /*color:#fff;*/
  font-size:120%;
  padding:0px 1px 0px 1px;
}

.hyper:hover {
  background:#000;
  color:#fff;
}

.popup {
  display:none;
  position:absolute;
  width:100px;
  margin-top:-19px;
  margin-left:89px;
  float:right;
  /*top:100px;*/
  background:#000;
  border-left:1px solid #ccc;
  text-align:left;
  padding:2px 10px 2px 0px;
}

.popup a {
  padding:2px 0px 2px 10px;
  width:100%;
  display:block;
  font-weight:bold;
  text-decoration:none;
}

.popup a:hover {
  background:#ccc;
  color:#000;
}

.pagenav {
  clear:both;
}

.pagenav a {
  text-decoration:none;
  color:#bbb;
  font-size:150%;
  padding:1px 4px;
}

.left {
  float:left;
}

.right {
  float:right;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  /*border:1px solid #ccc;*/
  width:45em;
  /*margin-left:20em;*/
  margin:0px auto;
}

.posts li, .post {
  font-size:13px;
  padding:15px 25px 12px 28px;
  margin:30px 0px;
  /*line-height: 1.75em;*/
  /*border-left:1px solid #6C817F;*/
  /*border-right:1px solid #6C817F;*/
  box-shadow:0px 1px 1px 1px #3E4E4C;
  background:#3E4E4C;
}

.posts li:hover {
  /*background:#536160;*/
}

.pheader {
  margin-top:5px;
  clear:both;
}

.title, .date {
  padding-bottom:20px;
}

.title {
  padding-right:20px;
  float:left;
}

/*ul.posts li:hover {background:#b7c572;}*/

/*ul.posts li p:after {content:"...";}*/

.date {
  color: #bbb;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  float:right;
}

.content {
  margin-top:0px;
  clear:both;
  /*padding-left: 13px;*/
}

.content p {
  margin:0px;
  padding-bottom:10px;
}

/*****************************************************************************/
/*
/*#container
/*
/*****************************************************************************/

#container {
  font-size: 115%;
  text-align: justify;
  width: 60em;
  margin: 1.5em auto 1em;
  padding-bottom:20px;
  line-height: 1.3em;
}

.header {
  text-align:left;
  margin: 1em 2em 1.4em 2em;
  padding: 16px 0px 16px 0px;
  /*border-top: 2px solid #616b3c;*/
  /*box-shadow:0px 3px 2px 0px #616b3c;*/
  /*text-align:center;*/
  /*width:120%;*/
}

.footer a.back {
  color:#000;
  font-weight: bold;
  text-decoration: none;
  font-size:120%;
  float:left;
}


.header h2 {
  float:right;
}

.header a {
  text-decoration:none;
}

.header h1.title a {
  color: #a00;
}

#container .header h1.title a:hover {
  color: #fff;
}

#container a.extra {
  color: #aaa;
  margin-left: 1em;
}

#container a.extra:hover {
  color: #000;
}

#container .meta {
  color: #aaa;
}

#container .footer {
  font-size: 80%;
  color: #222;
  /*border-top: 3px solid #eee;*/
  margin-top: 2em;
  /*padding-top: 1em;*/
  overflow: hidden;
  text-align:center;
}

#container .footer .contact {
  float: left;
  margin-right: 3em;
}

#container .footer span.right {
  float:right;
}

#container .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

#container .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  font-family: Courier, Georgia, serif;
  font-size:20px;
  line-height:1.3em;
  margin-bottom:20px;
}

.post .date {
  font-size:70%;
}

.post p {
  /*line-height:1.5em;*/
}

.post p br {width:100px; border:1px solid #000; display:block;}

/*.post p:hover {
  background:#F4EED9;
}*/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
