<!DOCTYPE html>
<html>
<head>
  <title>Data Visualization</title>
  <script src="Chart.min.js"></script>
  <style type="text/css">
    .chart {clear: both;}
    canvas {padding: 1rem; float: left;}
    .legend {
      float: left;
    }
    .legend ul {
      list-style-type: none;
    }
    .legend ul li {
      margin: 3px;
      padding: 3px;
    }
    .legend span {
      padding: 3px;
    }
  </style>
</head>
<body>

<div class='chart'>
  <h2>Total businesses registered by city monthly</h2>
  <canvas id="chart1" width="400" height="400"></canvas>
  <div class='legend' id='chart1_legend'></div>
</div>

<div class='chart'>
  <h2>Businesses by gender</h2>
  <canvas id="chart2" width="300" height="300"></canvas>
</div>

<div class='chart'>
  <h2>Businesses by scope</h2>
  <canvas id="chart3" width="300" height="300"></canvas>
  <div class='legend' id='chart3_legend'></div>
</div>

<script type="text/javascript">
  options1 = {
    scaleShowGridLines: false,
    barShowStroke: false,
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>"
  }
  data1 = {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [
      {
        label: 'Filipino',
        fillColor: "#2285C5",
        strokeColor: "#2285C5",
        highlightFill: "#2285C5",
        highlightStroke: "#2285C5",
        data: [65, 59, 80, 81, 56, 55, 40, 38, 20, 70, 82, 67]
      },
      {
        label: 'Unknown',
        fillColor: "#FF9E1D",
        strokeColor: "#FF9E1D",
        highlightFill: "#FF9E1D",
        highlightStroke: "#FF9E1D",
        data: [20, 15, 60, 72, 54, 71, 28, 18, 32, 64, 12, 13]
      }
    ]
  }
  var context1 = document.getElementById("chart1").getContext("2d")
  var chart1 = new Chart(context1).Bar(data1, options1)
  document.getElementById('chart1_legend').innerHTML = chart1.generateLegend()

  options2 = {
    scaleShowGridLines: false,
    barShowStroke: false,
    tooltipTemplate: "<%= label %> - <%= value %>%",
    animationSteps: 50,
    onAnimationComplete: function()
    {
        this.showTooltip(this.segments, true)
    },
    tooltipEvents: [],
    showTooltips: true
  }
  data2 = [
    {
      value: 70.3,
      color: '#1984C7',
      label: 'Male'
    },
    {
      value: 29.7,
      color: '#FF9E1D',
      label: 'Female'
    }
  ]
  var context2 = document.getElementById("chart2").getContext("2d")
  var chart2 = new Chart(context2).Doughnut(data2, options2)

  options3 = {
    scaleShowGridLines: false,
    barShowStroke: false,
    tooltipTemplate: "<%= label %> - <%= value %>",
    // showTooltips: false,
    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"><%if(segments[i].label){%><%=segments[i].label%><%}%></span></li><%}%></ul>"
  }
  data3 = [
    {
      value: 162,
      color: '#1984C7',
      label: 'Region 1: Ilocos'
    },
    {
      value: 41,
      color: '#FF9E1D',
      label: 'Region 2: Cagayan Valley'
    },
    {
      value: 96,
      color: '#FACEA7',
      label: 'Region 3: Central Luzon'
    },
    {
      value: 26,
      color: '#C8C8A6',
      label: 'Region 4A: Calabarzon'
    },
    {
      value: 83,
      color: '#ED7976',
      label: 'National Capital Region (NCR)'
    }
  ]
  var context3 = document.getElementById("chart3").getContext("2d")
  var chart3 = new Chart(context3).Doughnut(data3, options3)
  document.getElementById('chart3_legend').innerHTML = chart3.generateLegend()
</script>

</body>
</html>
