---
layout: default
---
<div class='post'>
  <div class='pheader'>
    <div class='date'>{{ page.date | date: "%m/%d/%y"}}</div>
    <h2 class='title'>{{ page.title }}</h2>
  </div>
  <div class='content'>{{ content | replace:'  ','&nbsp;&nbsp;' }}</div>
</div>
<div class='pagenav'>
  <div class='left'>
    {% if page.previous.url %} 
      <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"> &larr; </a> 
    {% endif %}
  </div>
  <div class='right'>
    {% if page.next.url %}
      <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"> &rarr; </a>
    {% endif %}
  </div>
</div>
