body {
  font-size:15px;
}

.container-fluid {

}

.poem {

}
  .poem-header {
    text-align:center;
  }
  .poem-main {

  }
    .poem-main span {
      margin-left:-8px;
      /*border-left:4px solid #ccc;*/
      /*padding-left:4px;*/
    }
  .poem-footer {

  }