body {
  font-size:16px;
}

.container-fluid {

}

.poem {
  padding:0px 0px;
  /*border:1px solid #ccc;*/
  text-transform:uppercase;
  margin-bottom:30px;
}
  .poem-header, .poem-footer {
    margin:10px 0px 10px -12px;
  }
    .poem-header-right, .poem-footer-right {
      text-align:right;
      float:right;
    }
  .poem-header {
    text-align:left;
    /*margin-bottom:10px;*/
  }
  .poem-footer {

  }
  .poem-main {
    line-height:1.4em;
    text-transform:lowercase;
    padding:0px 20px;
    border-left:1px solid #000;
    /*border-right:1px solid #ccc;*/
  }
    .poem-main span {
      margin-left:-8px;
      /*border-left:4px solid #ccc;*/
      /*padding-left:4px;*/
    }